<template>
    <div class="group-list">
        <bill-group-view :group="group" :procId="procId" :key="group.billGroupId" v-for="group in this.billGroupList" :selectedBillGroup="selectedBillGroup"></bill-group-view>
    </div>
</template>

<script>
    import BillGroupView from './BillGroupView.vue'
    export default {
        props: ["groups", "procId", "selectedGroup"],
        components: {
            BillGroupView,
        },
        data() {
            return {
                billGroupList: []
            }
        },
        mounted() {
            console.log("BillGroupList : ",this.groups)
            this.billGroupList = this.groups
        },
        methods: {
            selectedBillGroup(group) {
                this.selectedGroup(group)
            }
        }
    }
</script>

<style lang="scss" scoped>
.group-list {
    display: flex;
    margin: 25px 0;
}
</style>