<template>
  <div
    class="bill-group"
    v-bind:class="{ selected: this.selectedGroup }"
    @click="billGroupSelected"
    ref="group"
  >
    {{ this.group.groupName }}
  </div>
</template>

<script>
export default {
  props: {
    procId: { type: Number },
    group: { type: Object },
    selectedBillGroup: { type: Function },
  },
  data() {
    return {
      billGroup: null,
      selectedGroup: false,
    };
  },
  mounted() {
    this.billGroup = this.group;
    this.selectedGroup = this.group.selected;
  },
  methods: {
    billGroupSelected() {
      this.selectedBillGroup(this.group)
    },
  },
};
</script>

<style lang="scss" scoped>
.bill-group {
  margin: 5px;
  padding: 7px;
  box-shadow: 1px 2px 5px #888888;
  border-radius: 5px;
  &.selected {
    background-color: #0588a6;
    color: #fff;
  }
}
</style>