<template>
    <div>
        <div class="header">
            <div class="checkbox"></div>
            <span>Fatura</span>
            <span>Dönem</span>
            <span>Yıl</span>
            <span>Son Ödeme Tarihi</span>
            <span>Tutar</span>
            <span>Gecikme</span>
            <span>Toplam</span>
        </div>
        <bill-view :bill="bill" :key="bill.billId" v-for="bill in this.billList"></bill-view>
    </div>
</template>

<script>
import BillView from './BillView.vue'
    export default {
        props: {
            bills: { type: Array }
        },
        components: {
            BillView,
        },
        data() {
            return {
                billList: []
            }
        },
        mounted() {
            this.billList = this.bills
        },
    }
</script>

<style lang="scss" scoped>
.header{
    display: flex;
}
</style>