<template>
  <div></div>
</template>

<script>
import { DebtSelectionActionTypes } from "../module/debt-selection-module";
import { mapState } from "vuex";

export default {
  props: {
    bill: { type: Array },
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    itemSelected(selectedBill) {
      this.$store.dispatch(DebtSelectionActionTypes.SELECTED, selectedBill);
    },
  },
    computed: {
    ...mapState({
      state: (state) => state.debtSelectionModule,
    }),
  },
};
</script>

<style lang="scss" scoped>
</style>