<template>
    <div>

    </div>
</template>

<script>
    export default {
        props: {
            debtList: { type: Number },
        },
        data(){
            return {
                debts: [],
                currentDebtPage: 1,
                debtCountPerPage: 7,
                totalPage: 0,
                firstIndex: 0,
                lastIndex: 0,
            }
        },
        mounted() {
            this.debts = this.debtList;
            this.totalPage = this.debts / this.debtCountPerPage;
            
        }
    }
</script>

<style lang="scss" scoped>

</style>