<template>
  <div class="proc-list">
    <proc-view :proc="proc" :key="proc.procId" v-for="proc in this.procList"></proc-view>
  </div>
</template>

<script>
import ProcView from "./ProcView.vue";
export default {
  props: {
    procs: { type: Array },
  },
  components: {
    ProcView,
  },
  data() {
    return {
      procList: [],
    };
  },
  mounted() {
    this.procList = this.procs;
    console.log("ProcListView : ",this.procs)
  },
};
</script>

<style lang="scss" scoped>
.proc-list {
  margin: 20px 190px 0px 20px;
  padding-bottom: 100px;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}
</style>