<template>
  <div class="proc">
    <div class="proc-header" @click="expandArea">
      <span>{{ proc.procName }}</span>
      <span>{{ customer.displayName }}</span>
      <div class="info">
        <div class="info-box">
          <span>Toplam Borç : </span>
          <span>150 TL</span>
        </div>
        <div class="info-box">
          <span>Toplam Seçili Borç : </span>
          <span>5</span>
        </div>
      </div>
    </div>
    <div class="expanded-area" v-bind:class="{ expand: this.expanded }">
      <bill-group-list
        :procId="proc.procId"
        :groups="this.proc.billGroup"
        :selectedGroup="selectedGroup"
      ></bill-group-list>
    </div>
  </div>
</template>

<script>
import BillGroupList from "./BillGroupList.vue";
import { DebtSelectionActionTypes } from "../module/debt-selection-module";
import { mapState } from "vuex";

export default {
  props: {
    proc: { type: Object },
  },
  components: {
    BillGroupList,
  },
  data() {
    return {
      procData: null,
      customer: { displayName: "" },
      billGroups: [],
      bills: [],
      expanded: false,
    };
  },
  mounted() {
    if (this.proc.selected) this.expanded = true;
    this.procData = this.proc;
    this.customer = this.procData.customer;
    this.billGroups = this.procData.billGroup;
    var selectedBillGroupList = this.billGroups.filter(
      (e) => e.selected == true
    );
    this.bills = selectedBillGroupList[0].bills;
    console.log("procData : ", this.procData);
    console.log("billGroups : ", this.billGroups);
  },
  methods: {
    procModelSelected(procModel) {
      var refName = "panel-" + procModel.procId.toString();

      if (refName != this.state.openPanelRef) {
        this.$store.dispatch(DebtSelectionActionTypes.SELECTED_PROC, procModel);

        this.$refs[this.state.openPanelRef][0].isActive = false;
        this.$store.dispatch(
          DebtSelectionActionTypes.CHANGE_PANEL_REF,
          refName
        );
        this.$refs[this.state.openPanelRef][0].isActive = true;
      }
    },
    selectedGroup(group) {
      this.$store.dispatch(DebtSelectionActionTypes.SELECTED_BILL_GROUP, {
        billGroup: group,
        procId: this.proc.procId,
      });
      this.$forceUpdate()
    },
    selectAllToggle(props) {
      this.$store.dispatch(DebtSelectionActionTypes.ALL_SELECTED, props.value);
    },
    expandArea() {
      this.expanded = !this.expanded;
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.debtSelectionModule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.proc {
  margin-top: 5px;
  background-color: #fff;
  padding: 10px;
  .proc-header {
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
}
.expanded-area {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  &.expand {
    max-height: 500px;
  }
}
</style>