<template>
  <message-wrapper>
    <default-layout :headerTitle="this.state.title" :moduleName="'langModule'">
      <div class="container">
        <div class="spacer"></div>
        <div class="list">
          <!-- box class lı div v-for ile döndürülecek. -->
          <div
            class="box"
            :key="lang.langId"
            v-for="lang in this.state.langs"
            ref="cards"
            @click="selectedLanguage(lang)"
          >
            <div class="shape"><div class="circle"></div></div>
            <div class="label">{{ lang.langName }}</div>
          </div>
        </div>
        <div class="spacer button"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import gsap from "gsap";
import { mapState } from "vuex";
import { LanguageActionTypes } from "../module/lang-module";
import DefaultLayout from "../../_core/components/DefaultLayout.vue";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
  },
  data() {
    return {};
  },
  created() {
    this.simpleFade();
  },
  methods: {
    simpleFade(i) {
      gsap.fromTo(
        this.$refs.cards[i],
        {
          autoAlpha: 1,
        },
        {
          autoAlpha: 0,
          duration: 0.35,
        }
      );
    },
    selectedLanguage(lang) {
      console.log(lang);
      this.$store.dispatch(LanguageActionTypes.SELECTED_LANGUAGE, lang);
    },
    back() {
      this.$store.dispatch(LanguageActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(LanguageActionTypes.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.langModule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.container {
  flex: 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spacer {
    flex: 2;
    &.button {
      flex: 1;
    }
  }
  .list {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: auto;
    .box {
      position: relative;
      margin: 0px 10px 25px 10px;
      border: 1px white solid;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 60px;
      background-color: transparent;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .label {
        color: white;
        font-size: 20px;
        text-align: center;
      }
      .shape {
        position: absolute;
        right: -17px;
        width: 34px;
        height: 34px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #075d70;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-height: 1200px) {
  .box {
    width: 580px !important;
    height: 125px !important;
    margin: 0px 10px 35px 10px !important;
    .shape {
      right: -25px !important;
      width: 50px !important;
      height: 50px !important;
    }
    .label {
      font-size: 40px !important;
    }
  }
  .spacer {
    display: none !important;
  }
}
</style>