<template>
  <message-wrapper>
    <default-layout
      :headerTitle="`${state.lblMinAmount} ${state.subscriber.minAmount} - ${state.lblMaxAmount} ${state.subscriber.maxAmount} - ${state.lblInfo}`"
      :showHeader="true"
      :showNextButton="true"
      :showCancelButton="true"
      :nextButtonLabel="state.nextLabel"
      :cancelButtonLabel="state.cancelLabel"
      :nextButtonClicked="next"
      :cancelButtonClicked="cancel"
    >
      <div class="ccalculate-page">
        <div class="info-block">
          <div class="info-card">
            <div class="info-title empty"></div>
            <div class="info-data">{{ state.subscriber.name }}</div>
          </div>
          <div class="info-card mb">
            <div class="info-title empty"></div>
            <div class="info-data">
              {{ state.subscriber.addres }}
            </div>
          </div>
          <div class="info-card">
            <div class="info-title">{{ state.lblCardNo }}</div>
            <div class="info-data">{{ state.subscriber.cardNo }}</div>
          </div>

          <div class="info-card">
            <div class="info-title">{{ state.lblSubscriberNo }}</div>
            <div class="info-data">{{ state.subscriber.subscriberNo }}</div>
          </div>

          <div class="info-card">
            <div class="info-title">{{ state.lblMain }} {{ state.lblTon }}</div>
            <div class="info-data">{{ state.subscriber.mainCredit }}</div>
          </div>
          <div class="info-card">
            <div class="info-title">
              {{ state.lblReserved }} {{ state.lblTon }}
            </div>
            <div class="info-data">{{ state.subscriber.reservedCredit }}</div>
          </div>
        </div>
        <div class="content-center">
          <div class="input-area">
            <input
              type="text"
              v-model="state.enteredAmount"
              v-bind:placeholder="state.lblAmount"
              v-bind:ref="`input-amount`"
            />

            <!-- <div class="remove-button" @click="clear(qparam.qParamId)">
              <v-icon>{{ svgPath }}</v-icon>
            </div> -->
          </div>
          <number-pad :onPressed="enter" :clear="clear" />
        </div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import { CalculateCreditActionTypes } from "../module/calculate-credit-module";
import NumberPad from "../../components/NumberPad.vue";
import DefaultLayout from "../../_core/components/DefaultLayout.vue";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";

export default {
  components: {
    NumberPad,
    DefaultLayout,
    MessageWrapper,
  },
  methods: {
    clear() {
      console.log("clear");
      this.$store.dispatch(CalculateCreditActionTypes.CHANGE_AMOUNT, null);
      this.$forceUpdate();
    },
    enter(data) {
      console.log("enter");
      this.$store.dispatch(CalculateCreditActionTypes.CHANGE_AMOUNT, data);
      this.$forceUpdate();
    },
    next() {
      this.$store.dispatch(CalculateCreditActionTypes.NEXT);
    },
    back() {
      this.$store.dispatch(CalculateCreditActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(CalculateCreditActionTypes.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.calculateCreditModule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.ccalculate-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .info-block {
    padding: 15px;
    display: flex;
    color: #fff;
    font-weight: bold;
    flex-direction: column;
    .info-card {
      width: 100%;
      display: flex;
      justify-content: start;
      font-size: 30px;
      .info-title {
        flex: 1;
        &.empty {
          display: none;
        }
      }
      .info-data {
        flex: 3;
        display: flex;
        justify-content: start;
      }
      &.mb {
        margin-bottom: 25px;
      }
    }
  }
  .min-max-area {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
  }
  .content-center {
    margin-top: 100px;
    margin-right: 50px;
    width: 100%;
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-area {
      width: 85%;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 15px;
      padding: 10px 10px 10px 25px;
      display: flex;
      justify-content: space-between;
      input {
        text-align: start;
        outline: none;
        border: none;
        font-size: 20px;
      }
    }
  }
  @media screen and (min-height: 1200px) {
    .info-block {
      .info-area-title {
        font-size: 30px !important;
      }
      .info-area-data {
        margin-inline-start: 45px !important;
        font-size: 30px !important;
      }
    }
    .min-max-area {
      .info-area {
        font-size: 30px !important;
      }
    }
    .content-center {
      margin-top: 20px !important;
      margin-right: 0px !important;
      justify-content: start !important;
      .input-area {
        input {
          padding: 20px 0 !important;
          font-size: 40px !important;
        }
      }
    }
  }
}
</style>