<template>
  <message-wrapper>
    <default-layout
      :key="state.componentKey"
      :headerTitle="this.state.title"
      :showHeader="false"
      :showCancelButton="!this.state.hideCancelButton"
      :cancelButtonLabel="this.state.cancelLabel"
      :cancelButtonClicked="this.cancel"
      :showPrevButton="!this.state.hideBackButton"
      :prevButtonLabel="this.state.prevLabel"
      :backButtonClicked="this.back"
    >
      <div class="credit-header">
        <div class="client-info-area">
          <span class="client-name">{{ state.customer.displayName }}</span>
          <span
            class="client-no"
            :key="custQuery.queryParamId"
            v-for="custQuery in state.customer.custQueries"
            >{{ custQuery.queryNo }}</span
          >
          <span
            class="client-address"
            :key="'address-' + custQuery.queryParamId"
            v-for="custQuery in state.customer.custQueries"
            >{{ custQuery.displayAddress }}</span
          >
        </div>
        <div class="credit-info-area">
          <div class="labels">
            <span>{{ state.lblTotalBill }}</span>
          </div>
          <div class="amounts">
            <span>{{ this.state.totalBill.toFixed(2) }}</span>
          </div>
        </div>
      </div>
      <div class="page-accept">
        <div
          class="content-center"
          v-bind:class="{ mtop: state.flagShowAnimation }"
        >
          <span class="credit-message">
            {{ this.state.infoMessage }}
          </span>
          <div class="image" v-if="state.flagShowAnimation">
            <img
              v-if="state.animationCode == 1"
              src="../../assets/animation/kart_tak.gif"
              alt=""
              srcset=""
              v-bind:class="{ 'm-right': state.flagShowAnimation }"
            />
            <img
              v-if="state.animationCode == 2"
              src="../../assets/animation/pinpad.gif"
              alt=""
              srcset=""
              v-bind:class="{ 'small': state.animationCode == 2 }"
            />
            <img
              v-if="state.animationCode == 3"
              src="../../assets/animation/kart_geri_al.gif"
              alt=""
              srcset=""
              v-bind:class="{ 'm-right': state.flagShowAnimation }"
            />
            <img
              v-if="state.animationCode == 4"
              src="../../assets/animation/temassiz.gif"
              alt=""
              srcset=""
              v-bind:class="{ 'm-right': state.flagShowAnimation }"
            />
          </div>
        </div>
        <div class="button-area"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import DefaultLayout from "../../_core/components/DefaultLayout";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";
import { CreditCardActionTypes } from "../module/credit-card-module";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
  },
  methods: {
    back() {
      this.$store.dispatch(CreditCardActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(CreditCardActionTypes.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.creditCardModule,
    }),
    getLabelDict(key) {
      return this.state.langDictionary[key];
    },
  },
};
</script>

<style scoped lang="scss">
.credit-header {
  display: flex;
  justify-content: space-between;
  .client-info-area {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    .client-name {
      font-size: 1.3rem;
    }
    .client-no {
      color: rgb(187, 180, 180);
    }
    .client-address {
      color: rgb(187, 180, 180);
    }
  }
  .credit-info-area {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 15px 25px;
    .labels {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      font-size: 1.1rem;
      align-items: flex-end;
    }
    .amounts {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
      align-items: flex-end;
    }
  }
}
.page-accept {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .content-center {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .credit-message {
      font-size: 20px;
    }
    .image {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 450px;
      }
    }
    .credit-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  .button-area {
    width: 100%;
    height: 100%;
    flex: 1;
  }
}
.credit-message {
  color: #fff;
  text-align: center;
}
@media screen and (min-height: 1200px) {
  .credit-header {
    .client-info-area {
      .client-name {
        font-size: 45px !important;
      }
      .client-no {
        margin-top: 10px !important;
        font-size: 35px !important;
      }
      .client-address {
        margin-top: 10px !important;
        font-size: 30px !important;
      }
    }
    .credit-info-area {
      position: absolute;
      bottom: 0 !important;
      right: 0 !important;
      margin: 100px 35px !important;
      .labels {
        font-size: 42px !important;
        align-items: flex-end;
        font-weight: bold;
      }
      .amounts {
        font-size: 42px !important;
        font-weight: bold;
        align-items: flex-end;
        &.first {
          &.anim {
            color: #e1701a;
          }
        }
      }
    }
  }
  .page-accept {
    margin-bottom: 200px !important;
    .content-center {
      .image {
        margin-top: 100px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 400px !important;

          &.m-right {
            margin-right: 55px !important;
          }
          &.small {
            width: 325px!important;
          }
        }
      }
      .credit-message {
        margin: 10px !important;
        font-size: 55px !important;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.mtop {
        margin-top: 250px !important;
      }
    }
  }
}
.button-area {
  display: none !important;
}
</style>