<template>
  <message-wrapper>
    <default-layout
      :headerTitle="this.state.title"
      :showCancelButton="true"
      :cancelButtonLabel="this.state.cancelLabel"
      :cancelButtonClicked="cancel"
      :showPrevButton="true"
      :prevButtonLabel="this.state.prevLabel"
      :backButtonClicked="back"
    >
      <div class="container">
        <div class="list">
          <div
            class="box"
            :key="procService.svcId"
            v-for="procService in this.state.svcs"
            @click="selectSvc(procService)"
          >
            <div class="label">{{ getSvcName(procService.svcId) }}</div>
          </div>
        </div>
        <div class="spacer button"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import DefaultLayout from "../../_core/components/DefaultLayout";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";
import { SelectionActionTypes } from "../module/selection-module";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
  },
  methods: {
    selectSvc(procService) {
      this.$store.dispatch(SelectionActionTypes.SELECT, procService);
    },
    back() {
      this.$store.dispatch(SelectionActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(SelectionActionTypes.CANCEL);
    },
    getSvcName(svcId) {
      return this.state.langDictionary[`unit.${svcId}`];
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.selectionModule,
    }),
  },
};
</script>

<style scoped lang="scss">
.container {
  flex: 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spacer {
    flex: 2;
    &.button {
      flex: 1;
    }
  }
  .list {
    flex: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*height: 550px;*/
    overflow: auto;
    .box {
      margin: 0px 10px 18px 10px;
      padding: 15px 10px;
      border: 1px rgb(0, 110, 255) solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 150px;
      height: 150px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .label {
        color: darkblue;
        font-size: 16px;
        text-align: center;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-height: 1200px) {
  .spacer {
    display: none !important;
  }
  .divider {
    margin-top: 25px!important;
  }
  .box {
    margin: 10px!important;
    width: 410px !important;
    height: 200px!important;
    padding: 0 20px !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    .icon {
      img {
        width: 110px !important;
        height: 110px !important;
      }
    }
    .label {
      flex: auto !important;
      font-size: 45px !important;
      font-weight: bold;
    }
  }
}
</style>