<template>
  <message-wrapper>
    <default-layout
      :headerTitle="this.state.title"
      :showNextButton="true"
      :nextButtonClicked="next"
      :nextButtonLabel="this.state.nextLabel"
      :showCancelButton="true"
      :showPrevButton="true"
      :backButtonClicked="back"
      :prevButtonLabel="this.state.prevLabel"
      :cancelButtonClicked="cancel"
      :cancelButtonLabel="this.state.cancelLabel"
    >
      <div class="page">
        <div class="content">
          <div class="options">
            <div
              class="option"
              v-bind:class="{ selected: query.selected }"
              :key="query.qTypeId"
              v-for="query in this.state.queryTypes"
              @click="selectedQuery(query)"
            >
              <span>{{ getQueryName(query.qTypeId) }}</span>
            </div>
          </div>
          <div class="content-center">
            <div
              class="input-area"
              :key="qparam.qParamId"
              v-for="qparam in this.state.queryParams"
              @click="selectParam(qparam)"
            >
              <input
                type="text"
                v-model="qparam.qParamValue"
                v-bind:placeholder="getQueryParamName(qparam.qParamId)"
                v-bind:ref="`input-${qparam.qParamId}`"
                disabled
              />

              <div
                class="remove-button"
                v-bind:class="{
                  show:
                    qparam.qParamValue != undefined &&
                    qparam.qParamValue.length > 0,
                }"
                @click="clear(qparam.qParamId, true)"
              >
                <v-icon size="50">{{ svgPath }}</v-icon>
              </div>
            </div>
            <number-pad
              :onPressed="enter"
              :clear="clear"
              v-if="this.state.showNumberpad"
            />
          </div>
          <div class="button-area"></div>
        </div>
      </div>
    </default-layout>
    <keyboard-pad
      ref="keyboard"
      :onChanged="onChanged"
      :onSubmitted="onSubmitted"
    />
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import { mdiClose } from "@mdi/js";
import DefaultLayout from "../../_core/components/DefaultLayout";
import { DebtQueryActionTypes } from "../module/debt-inquiry-module";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";
import KeyboardPad from "../../components/KeyboardPad.vue";
import NumberPad from "../../components/NumberPad.vue";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
    KeyboardPad,
    NumberPad,
  },
  data() {
    return {
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, -2, 0, -1],
      svgPath: mdiClose,
      selectedNumber: -25,
      selectedKeyword: "",
    };
  },
  created() {
    console.log(this.state.queryTypes);
    console.log(this.state.selectedQueryType);
    console.log(this.state.queryParams);
    console.log(this.state.selectedQueryParam);
  },
  methods: {
    clear(val) {
      this.$store.dispatch(DebtQueryActionTypes.SELECTED_QPARAM_VALUE_CLEAR, val);
      this.$forceUpdate();
    },
    enter(data) {
      this.$store.dispatch(DebtQueryActionTypes.CHANGE_QPARAM_VALUE, {
        value: data,
        flagNumeric: false,
      });
      this.$forceUpdate();
    },
    onChanged(data) {
      this.$store.dispatch(DebtQueryActionTypes.CHANGE_QPARAM_VALUE, {
        value: data,
        flagNumeric: true,
      });
      this.$forceUpdate();
    },
    onSubmitted(data) {
      this.$store.dispatch(DebtQueryActionTypes.CHANGE_QPARAM_VALUE, {
        value: data,
        flagNumeric: true,
      });
      //this.showKeyboard(false)
    },
    selectedQuery(query) {
      this.$store.dispatch(DebtQueryActionTypes.SELECTED_QTYPE, query);
      this.showKeyboard(false);
    },
    selectParam(qparam) {
      console.log("QParam : ", qparam);
      this.$store.dispatch(DebtQueryActionTypes.SELECTED_QPARAM, qparam);
      var ref = "input-" + qparam.qParamId.toString();
      this.$refs[ref][0].focus();

      this.showKeyboard(this.state.showKeyboard);
    },
    next() {
      this.$store.dispatch(
        DebtQueryActionTypes.NEXT,
        this.state.selectedQueryType
      );
    },
    back() {
      this.$store.dispatch(DebtQueryActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(DebtQueryActionTypes.CANCEL);
    },
    getQueryName(queryId) {
      return this.state.langDictionary[`queryType.${queryId}`];
    },
    getQueryParamName(qparamId) {
      return this.state.langDictionary[`queryParam.${qparamId}`];
    },
    showKeyboard(show) {
      this.$refs.keyboard.hideKeyboard(!show);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.inquiryModule,
    }),
  },
};
</script>

<style scoped lang="scss">
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .options {
      width: 100%;
      height: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      .option {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 10px 20px;
        color: #fff;
        text-align: center;
        transition: 0.3s;
        &.selected {
          background-color: white;
          color: darkblue;
        }
      }
    }
    .content-center {
      margin-top: 100px;
      margin-right: 50px;
      width: 100%;
      height: 100%;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-area {
        width: 85%;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px 10px 10px 25px;
        display: flex;
        justify-content: space-between;
        input {
          width: 90%;
          text-align: start;
          outline: none;
          border: none;
          font-size: 20px;
        }
        .remove-button {
          display: none;
          &.show {
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .button-area {
      width: 100%;
      height: 100%;
      flex: 1;
    }
  }
}
@media screen and (min-height: 1200px) {
  .content {
    flex-direction: column !important;
    align-items: start !important;
    .options {
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      flex: 1 !important;
      .option {
        height: 120px !important;
        padding: 20px !important;
        font-size: 35px !important;
      }
    }
    .content-center {
      flex: 4 !important;
      margin-top: 0px !important;
      margin-right: 0px !important;
      justify-content: start !important;
      .input-area {
        input {
          padding: 20px 0 !important;
          font-size: 40px !important;
        }
      }
    }
    .button-area {
      display: none !important;
    }
  }
}
</style>