<template>
    <div class="intro-image">
        <img :src="this.image" alt="" srcset="">
    </div>
</template>

<script>
    export default {
        props: {
            imageUrl: {
                type: String,
                default: ""
            },
        },
        data() {
            return {
                image: ""
            }
        },
        mounted () {
            this.image = this.imageUrl;
        },
    }
</script>

<style lang="scss" scoped>
    .intro-image{
        width: 95%;
        height: 95%;
        img{
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
</style>