<template>
  <default-layout
    :showHeader="false"
    :showNextButton="true"
    :nextButtonLabel="'İLERİ'"
    :nextButtonClicked="next"
  >
    <div class="login-page">
      <div class="input-area" @click="select(0)">
        <input disabled  type="text" v-model="userTerm" placeholder="Kullanıcı Adı" />
      </div>
      <div class="input-area" @click="select(1)">
        <input disabled  type="text" v-model="password" placeholder="Şifre" />
      </div>
    </div>
    <keyboard-pad
      ref="keyboard"
      :onChanged="onChanged"
      :onSubmitted="onSubmitted"
    />
  </default-layout>
</template>

<script>
import KeyboardPad from "../../../components/KeyboardPad.vue";
import DefaultLayout from "../../../_core/components/DefaultLayout.vue";
import { LoginActionTypes } from "../module/login_module";

export default {
  components: {
    DefaultLayout,
    KeyboardPad,
  },
  data() {
    return {
      userTerm: "",
      password: "",
      selectInput: 0,
      showKeyboard: false,
    };
  },
  methods: {
    select(ref) {
      if (this.selectInput != ref) {
        this.selectInput = ref;
        this.changeText(this.selectInput == 0 ? this.userTerm : this.password);
      }

      this.showKeyboardPad(true);

      this.showKeyboard = !this.showKeyboard;
    },
    onChanged(data) {
      if (this.selectInput == 0) this.userTerm = data;
      else this.password = data;
      this.$forceUpdate();
    },
    onSubmitted(data) {
      console.log(data);
      this.$store.dispatch(LoginActionTypes.LOGIN, {
        userTerm: this.userTerm,
        password: this.password,
      });
      this.showKeyboardPad(false);
    },
    next() {
      this.$store.dispatch(LoginActionTypes.LOGIN, {
        userTerm: this.userTerm,
        password: this.password,
      });
      this.showKeyboardPad(false);
    },
    showKeyboardPad(show) {
      this.$refs.keyboard.hideKeyboard(!show);
    },
    changeText(val) {
      this.$refs.keyboard.changeText(val);
    },
  },
};
</script>

<style lang="scss" scoped>
.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-area {
    width: 85%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 25px;
    display: flex;
    justify-content: space-between;
    input {
      text-align: start;
      outline: none;
      border: none;
      font-size: 20px;
      width: 100%;
    }
  }
}

@media screen and (min-height: 1200px) {
  .login-page {
    .input-area {
      input {
        padding: 20px 0 !important;
        font-size: 40px !important;
      }
    }
  }
}
</style>