<template>
  <div class="page" @click="next">
    <slider
      class="slider"
      v-if="this.state.type.typeId === 1"
      :tickTime="this.state.slider.tickTime"
    >
      <slide
        v-for="slide in this.state.slider.slideList"
        :key="slide.imageName"
        class="carousel-slider"
      >
        <img :src="slide.url_ver" :alt="slide.url_ver" />
        <!-- <div :class="index % 2 == 0 ? 'header left' : 'header right'">
          <h1>{{ slide.header }}</h1>
        </div>
        <div :class="index % 2 == 0 ? 'message left' : 'message right'">
          <h1>{{ slide.msj }}</h1>
        </div> -->
      </slide>
    </slider>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Slide from "../local_components/Slide";
import Slider from "../local_components/Slider";

//import { LogService, LogPriorityEnum, LogLevelEnum } from '../../plugins/log_exports'

export default {
  components: {
    Slide,
    Slider,
  },
  data() {
    return {
      clickable: true,
    };
  },
  created() {
    //LogService.pushLog(LogPriorityEnum.Info, LogLevelEnum.L4, "Son Test Logs")
  },
  methods: {
    ...mapActions("introModule", ["nextScreen", "testLog"]),
    next() {
      if (this.clickable) {
        console.log("Tıklandı")
        this.nextScreen();
        this.clickable = false;
        setTimeout(()=> {
          this.clickable = true
        }, 5000)
      }
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.introModule,
    }),
  },
};
</script>

<style scoped lang="scss">
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.carousel-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .header {
    position: absolute;
    &.left {
      top: 25%;
      left: 15%;
      animation: slide-left-out 0.5s ease-in;
    }
    &.right {
      top: 55%;
      right: 15%;
      animation: slide-right-out 0.5s ease-in;
    }
  }
  .message {
    position: absolute;
    &.left {
      top: 30%;
      left: 15%;
      animation-delay: 2s;
      animation: slide-up-out 0.5s cubic-bezier(0.42, 0, 1, 1);
    }
    &.right {
      top: 60%;
      right: 15%;
      animation-delay: 2s;
      animation: slide-up-out 0.5s cubic-bezier(0.42, 0, 1, 1);
    }
  }
}
.carousel-slider img {
  width: 100%;
  height: 100%;
}
@keyframes slide-left-out {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-right-out {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-up-out {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
</style>