<template>
  <div class="keyboard" v-bind:class="isKeyboardHide">
    <div
      class="keys-row"
      :key="index"
      v-for="(row, index) in this.keyboard.keys"
    >
      <div
        class="key"
        v-bind:class="{
          long: key == keyboardKeys.Backspace,
          pressed: selectedKey == key,
          space: key == keyboardKeys.Space,
          shift: key == keyboardKeys.Shift,
          ctrl: key == keyboardKeys.Ctrl,
          empty: key == keyboardKeys.Empty,
          done: key == keyboardKeys.Done,
          enter: !specialCharacterKeyboard && key == keyboardKeys.Enter,
          'enter lg': specialCharacterKeyboard && key == keyboardKeys.Enter,
          special: key == keyboardKeys.Special,
          abc: key == keyboardKeys.Abc,
        }"
        :key="index"
        v-for="(key, index) in row"
        @click="
          key == keyboardKeys.Backspace
            ? clear(keyboardKeys.Backspace)
            : enter(key)
        "
      >
        <v-icon v-if="key == keyboardKeys.Backspace" color="#ffffff">{{
          svgPath
        }}</v-icon>
        <v-icon
          class="my-icon"
          v-else-if="key == keyboardKeys.Space"
          color="#ffffff"
          >{{ spacePath }}</v-icon
        >

        <div v-else-if="key == keyboardKeys.Shift" class="shift-button">
          <v-icon color="#ffffff">{{ shiftPath }}</v-icon>
          <span class="dot" v-bind:class="isActive"></span>
        </div>
        <v-icon v-else-if="key == keyboardKeys.Done" color="#ffffff">{{
          donePath
        }}</v-icon>
        <v-icon v-else-if="key == keyboardKeys.Enter" color="#ffffff">{{
          enterPath
        }}</v-icon>
        <span v-else-if="key == keyboardKeys.Ctrl" color="#ffffff">Ctrl</span>
        <span v-else-if="key == keyboardKeys.Special">*\+</span>
        <span v-else-if="key == keyboardKeys.Abc">ABC</span>
        <span v-else-if="key == keyboardKeys.Empty"></span>
        <span v-else>{{ key }}</span>
      </div>
    </div>
    <div class="keyboard-down" @click="hideKeyboard(true)">
        <v-icon class="icon" color="#fff" size="70">{{ keyboardClose }}</v-icon>
    </div>
  </div>
</template>

<script>
import {
  mdiCheck,
  mdiKeyboardSpace,
  mdiKeyboardBackspace,
  mdiAppleKeyboardShift,
  mdiKeyboardReturn,
  mdiKeyboardClose,
} from "@mdi/js";
import { KeyboardKey } from "../enums/keyboard_key_enum";

export default {
  props: {
    onChanged: { type: Function },
    onSubmitted: { type: Function },
  },
  data() {
    return {
      keyboard: {
        keys: [],
      },
      keywords: [
        [
          "1",
          "2",
          "3",
          "4",
          "5",
          "6",
          "7",
          "8",
          "9",
          "0",
          KeyboardKey.BACKSPACE,
        ],
        ["Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Ğ", "Ü"],
        [
          "A",
          "S",
          "D",
          "F",
          "G",
          "H",
          "J",
          "K",
          "L",
          "Ş",
          "İ",
          KeyboardKey.ENTER,
        ],
        [
          KeyboardKey.SHIFT,
          "Z",
          "X",
          "C",
          "V",
          "B",
          "N",
          "M",
          "Ö",
          "Ç",
          KeyboardKey.SHIFT,
        ],
        [KeyboardKey.SPECIAL, KeyboardKey.SPACE, KeyboardKey.DONE],
      ],
      keyboardKeys: {
        Space: KeyboardKey.SPACE,
        Backspace: KeyboardKey.BACKSPACE,
        Done: KeyboardKey.DONE,
        Enter: KeyboardKey.ENTER,
        Shift: KeyboardKey.SHIFT,
        Ctrl: KeyboardKey.CTRL,
        Empty: KeyboardKey.EMPTY,
        Special: KeyboardKey.SPECIAL,
        Abc: KeyboardKey.ABC,
      },
      specialCharacters: [
        [
          "1",
          "2",
          "3",
          "4",
          "5",
          "6",
          "7",
          "8",
          "9",
          "0",
          KeyboardKey.BACKSPACE,
        ],
        ["-", "/", ":", ";", "(", ")", "₺", "&", "@", '"', "?", "!"],
        ["'", "[", "]", "{", "}", "#", "%", "^", "*", KeyboardKey.ENTER],
        ["+", "=", "_", "\\", "|", "~", "<", ">", "€", "$", ",", "."],
        [KeyboardKey.ABC, KeyboardKey.SPACE, KeyboardKey.DONE],
      ],
      svgPath: mdiKeyboardBackspace,
      donePath: mdiCheck,
      spacePath: mdiKeyboardSpace,
      shiftPath: mdiAppleKeyboardShift,
      enterPath: mdiKeyboardReturn,
      keyboardClose: mdiKeyboardClose,
      wordEntered: "",
      selectedKey: "-1",
      shifted: true,
      specialCharacterKeyboard: false,
      isHidden: true,
    };
  },
  mounted() {
    this.keyboard.keys = this.keywords;
  },
  methods: {
    enter(data) {
      this.pressAnimation(data);

      if (data == KeyboardKey.DONE) {
        this.onSubmitted(this.wordEntered);
        return;
      }

      if (data == KeyboardKey.SPECIAL) {
        this.specialCharacterKeyboard = true;
        this.keyboard.keys = this.specialCharacters;
        return;
      }

      if (data == KeyboardKey.ABC) {
        this.specialCharacterKeyboard = false;
        this.keyboard.keys = this.keywords;
        return;
      }

      if (data == KeyboardKey.SHIFT) {
        this.shifted = !this.shifted;
        this.keywords = this.keywords.map(
          (keyList) =>
            (keyList = keyList.map((key) =>
              this.shifted ? key.toUpperCase() : key.toLowerCase()
            ))
        );
        this.keyboard.keys = this.keywords;
        return;
      }

      if (data == KeyboardKey.SPACE) {
        data = " ";
      }

      if (data == -2) return;
      // For animation
      this.wordEntered += data;
      this.onChanged(this.wordEntered);
    },
    pressAnimation(key) {
      this.selectedKey = key;
      setTimeout(() => (this.selectedKey = "-1"), 150);
    },
    clear(key) {
      if (this.wordEntered.length > 0) {
        this.pressAnimation(key);
        this.wordEntered = this.wordEntered.slice(0, -1);
        this.onChanged(this.wordEntered);
      }
    },
    hideKeyboard(value) {
      //if(this.isHidden) this.changeText("")
      this.isHidden = value;
    },
    changeText(value) {
      this.wordEntered = value;
    },
  },
  computed: {
    longKey: function (key) {
      return key == "" ? "long" : "";
    },
    isActive() {
      return this.shifted ? "active" : "";
    },
    isKeyboardHide() {
      return this.isHidden ? "hide" : "";
    },
  },
};
</script>

<style lang="scss" scoped>
.keyboard {
  z-index: 100000;
  position: fixed;
  padding: 15px 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 370px;
  background-color: #003152;
  transition: 0.4s;
  &.hide {
    bottom: -385px;
  }
  .keyboard-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -85px;
    border-radius: 10px;
    right: 15px;
    width: 75px;
    height: 75px;
    background-color: #003152;
    .icon {
      width: 50px;
      height: 50px;
    }
  }
  .keys-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .key {
    margin: 1px;
    background-color: #4c516d;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    &.long {
      width: 150px;
    }
    &.space {
      width: 535px;
    }
    &.shift {
      width: 100px;
    }
    &.ctrl {
      width: 85px;
    }
    &.empty {
      width: 125px;
      background-color: transparent;
    }
    &.special,
    &.abc {
      width: 125px;
    }
    &.done {
      width: 125px;
      background-color: rgb(2, 87, 2);
    }
    &.enter {
      width: 120px;
      &.lg {
        width: 165px;
      }
    }

    &.pressed,
    &.long.pressed {
      background-color: #233672 !important;
      color: #ffffff;
    }

    .shift-button {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .dot {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        &.active {
          background-color: greenyellow;
        }
      }
    }
  }
}
@media screen and (min-height: 1200px) {
  .keyboard {
    z-index: 100000;
    position: fixed;
    padding: 20px 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 650px;
    background-color: #003152;
    transition: 0.4s;
    &.hide {
      bottom: -780px;
    }
    .keyboard-down {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -95px;
      border-radius: 10px;
      right: 25px;
      width: 85px;
      height: 85px;
      background-color: #003152;

     
    }
    .keys-row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .key {
      margin: 1px;
      background-color: #4c516d;
      width: 82px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 40px !important;
      font-weight: bold;
      border-radius: 5px;
      &.long {
        width: 150px;
      }
      &.space {
        width: 535px;
      }
      &.shift {
        width: 100px;
      }
      &.ctrl {
        width: 85px;
      }
      &.empty {
        width: 125px;
        background-color: transparent;
      }
      &.special,
      &.abc {
        width: 125px;
      }
      &.done {
        width: 125px;
        background-color: rgb(2, 87, 2);
      }
      &.enter {
        width: 120px;
        &.lg {
          width: 165px;
        }
      }

      &.pressed,
      &.long.pressed {
        background-color: #233672 !important;
        color: #ffffff;
      }

      .shift-button {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .dot {
          position: absolute;
          top: 10px;
          right: 10px;
          height: 10px;
          width: 10px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          &.active {
            background-color: greenyellow;
          }
        }
      }
      .my-icon {
        font-size: 75px !important;
        svg {
          width: 75px !important;
          height: 75px !important;
        }
      }
    }
  }
}
</style>