<template>
  <div class="page">
    <h1 :key="index" v-for="(messageModel, index) in this.state.messages">
      {{ messageModel }}
    </h1>
  </div>
</template>

<script>
//import { InitializeActionTypes } from "../module/initialize_module";
//import { mapState } from "vuex";

export default {
  created() {
    //this.$store.dispatch(InitializeActionTypes.LOAD, this.body);
    console.log(this.state);
  },
  updated: function () {
    //this.$store.dispatch(InitializeActionTypes.UPDATED, this.body);
  },
  computed: {
      state(){
        return this.$store.state.initializeModule;
      }
  },
};
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
</style>