<template>
  <message-wrapper>
    <default-layout
      :headerTitle="this.state.title"
      :showNextButton="true"
      :nextButtonClicked="next"
      :nextButtonLabel="this.state.nextLabel"
      :showCancelButton="true"
      :showPrevButton="!this.state.hideBackButton"
      :backButtonClicked="prev"
      :prevButtonLabel="this.state.prevLabel"
      :cancelButtonClicked="cancel"
      :cancelButtonLabel="this.state.cancelLabel"
    >
      <div class="info-area">
        <div class="labels">
          <span>{{ state.lblTotalAmount }}</span>
          <span>{{ state.lblSelectedBillCount }}</span>
        </div>
        <div class="amounts">
          <span>{{ state.totalPayment.toFixed(2) }}</span>
          <span>{{ state.totalBillCount }}</span>
        </div>
      </div>
      <div
        class="proc-list"
        v-dragscroll.y="true"
        v-on:dragscrollstart="dragscrollstart"
        v-on:dragscrollend="dragscrollend"
        v-on:dragscrollmove="dragscrollmove"
      >
        <div
          class="proc"
          :key="proc.procId"
          v-for="proc in this.state.procList"
        >
          <div class="proc-header" @click="selectedProc(proc)">
            <div class="proc-name">
              <span>{{ proc.procName }}</span>
            </div>
            <div class="proc-info">
              <div class="proc-customer">
                <span>{{ proc.customer.displayName.checkLength(48) }}</span>
              </div>

              <div class="info">
                <div class="labels">
                  <span>{{ state.lblTotalAmount }}</span>
                  <span>{{ state.lblSelectedBillCount }}</span>
                </div>
                <div class="amounts">
                  <span>{{ proc.totalPayment.toFixed(2) }}</span>
                  <span>{{ proc.totalBillCount }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="expanded-area" v-bind:class="{ expand: proc.selected }">
            <div class="group-list" v-if="proc.flagGroupShow">
              <div
                class="bill-group"
                v-bind:class="{ selected: group.selected }"
                :key="group.billGroupId"
                v-for="group in proc.billGroup"
                @click="selectedGroup(group, proc)"
              >
                {{ group.groupName }}
              </div>
            </div>
            <div class="table">
              <div class="table-header">
                <span class="sm">
                  <div class="center">
                    <div
                      class="checkbox"
                      @click="selectedAllBill(proc)"
                      v-bind:class="{ checked: state.selectedAllGroupBills }"
                    >
                      <v-icon color="#ffffff" class="icon">{{
                        checkPath
                      }}</v-icon>
                    </div>
                  </div>
                </span>
                <span v-if="proc.flagShowClmBillNumber">{{
                  state.clmBillNumber
                }}</span>
                <span v-if="proc.flagShowClmDescription">{{
                  state.clmDescription
                }}</span>
                <span v-if="proc.flagShowClmPeriod">{{ state.clmPeriod }}</span>
                <span v-if="proc.flagShowClmYear">{{ state.clmYear }}</span>
                <span v-if="proc.flagShowClmLastPaymentDate" class="lg">{{
                  state.clmLastPaymentDate
                }}</span>
                <span v-if="proc.flagShowClmAmount">{{ state.clmAmount }}</span>
                <span v-if="proc.flagShowClmInterest">{{
                  state.clmInterest
                }}</span>
                <span v-if="proc.flagShowClmTotal">{{ state.clmTotal }}</span>
              </div>
              <div class="table-content">
                <div
                  class="bill"
                  v-bind:class="{ selected: bill.selected }"
                  :key="bill.billId"
                  v-for="bill in state.billList"
                  @click="selectedBill(bill, proc)"
                >
                  <span class="sm">
                    <div class="center">
                      <div
                        class="checkbox"
                        v-bind:class="{ checked: bill.selected }"
                      >
                        <v-icon color="#ffffff" class="icon">{{
                          checkPath
                        }}</v-icon>
                      </div>
                    </div>
                  </span>
                  <span
                    v-if="proc.flagShowClmBillNumber"
                    style="text-align: center"
                    >{{ bill.billNo }}</span
                  >
                  <span v-if="proc.flagShowClmDescription">{{
                    bill.billDesc
                  }}</span>
                  <span v-if="proc.flagShowClmPeriod">{{ bill.period }}</span>
                  <span v-if="proc.flagShowClmYear">{{ bill.year }}</span>
                  <span v-if="proc.flagShowClmLastPaymentDate" class="lg">{{
                    bill.lastPaymentDateStr
                  }}</span>
                  <span v-if="proc.flagShowClmAmount">{{
                    bill.amount.toFixed(2)
                  }}</span>
                  <span v-if="proc.flagShowClmInterest">{{
                    bill.interest.toFixed(2)
                  }}</span>
                  <span v-if="proc.flagShowClmTotal">{{
                    bill.billTotal.toFixed(2)
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { dragscroll } from "vue-dragscroll";
import { DebtSelectionActionTypes } from "../module/debt-selection-module";
import { mdiCheck } from "@mdi/js";
import { mapState } from "vuex";
import DefaultLayout from "../../_core/components/DefaultLayout.vue";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
  },
  directives: {
    dragscroll: dragscroll,
  },
  data() {
    return {
      checkPath: mdiCheck,
      isScrolling: false,
    };
  },
  methods: {
    dragscrollstart() {
      this.isScrolling = true;
      console.log("isScrolling : ", this.isScrolling);
    },
    dragscrollmove() {
      this.isScrolling = true;
      console.log("isScrolling : ", this.isScrolling);
    },
    dragscrollend() {
      setTimeout(() => {
        this.isScrolling = false;
        console.log("isScrolling : ", this.isScrolling);
      }, 1000);
    },
    selectedProc(proc) {
      if (!this.isScrolling)
        this.$store.dispatch(DebtSelectionActionTypes.SELECTED_PROC, proc);
    },
    selectedGroup(group, proc) {
      this.$store.dispatch(DebtSelectionActionTypes.SELECTED_BILL_GROUP, {
        billGroup: group,
        procId: proc.procId,
      });
    },
    selectedBill(bill, proc) {
      if (!this.isScrolling)
        this.$store.dispatch(DebtSelectionActionTypes.SELECTED, { bill, proc });
    },
    selectedAllBill(proc) {
      this.selectedAll = !this.selectedAll;
      this.$store.dispatch(DebtSelectionActionTypes.ALL_SELECTED, {
        proc,
        checked: this.selectedAll,
      });
    },
    getCustQuery(custQuery) {
      var label =
        this.state.langDictionary[`queryParam.${custQuery.queryParamId}`];
      return `${label} : ${custQuery.queryNo}`;
    },
    getProcName(procId) {
      return this.state.langDictionary[`proc.${procId}`];
    },
    next() {
      this.$store.dispatch(DebtSelectionActionTypes.NEXT);
    },
    prev() {
      this.$store.dispatch(DebtSelectionActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(DebtSelectionActionTypes.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.debtSelectionModule,
    }),
  },
};
</script>

<style scoped lang="scss">
.info-area {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 15px 25px;
  font-weight: bold;
  align-items: flex-end;
  .labels {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 1.1rem;
    align-items: flex-end;
  }
  .amounts {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-items: flex-end;
  }
}
.proc-list {
  margin: 20px 190px 0px 20px;
  display: flex;
  flex-direction: column;
  .proc {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    .proc-header {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #000;
      .proc-name {
        font-weight: bold;
        color: #fff;
      }
      .proc-info {
        display: flex;
        .proc-customer {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
        .info {
          flex: 3;
          display: flex;
          flex-direction: colum;
          .labels {
            display: flex;
            flex-direction: column;
            margin-right: 50px;
            font-size: 1.1rem;
            align-items: flex-end;
          }
          .amounts {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            align-items: flex-end;
          }
        }
      }

      .proc-name {
        flex: 1;
      }
      .proc-customer {
        flex: 1;
      }
    }
  }
  .expanded-area {
    max-height: 0;
    &.expand {
      max-height: 950px;
    }
    .group-list {
      display: flex;
      margin: 25px 0;
      .bill-group {
        margin: 5px;
        padding: 7px;
        box-shadow: 1px 2px 5px #888888;
        border-radius: 5px;
        &.selected {
          background-color: #0588a6;
          color: #fff;
        }
      }
    }
    .table {
      .table-header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        span {
          flex: 3;
          text-align: center;
          &.sm {
            flex: 1;
          }
          &.lg {
            flex: 5;
          }
        }
      }
      .table-content {
        .bill {
          margin: 1px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          span {
            flex: 3;
            text-align: right;
            &.sm {
              flex: 1;
            }
            &.lg {
              flex: 5;
            }
            &:first-child {
              text-align: center;
            }
          }
          &.selected {
            border-radius: 5px;
            background-color: #e1701a;
            color: #fff;
          }
        }
      }
    }
  }
  &:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: grab;
  }
}
.checkbox {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  &.checked {
    background-color: #0588a6;
    border: none;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-height: 1200px) {
  .info-area {
    justify-content: flex-end;
    .labels {
      font-size: 38px !important;
      align-items: flex-end;
    }
    .amounts {
      font-size: 38px !important;
      align-items: flex-end;
    }
  }
  .proc-list {
    margin: 30px 20px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      display: none;
    }
    .proc {
      background-color: transparent !important;
    }
    .proc-header {
      background-color: rgba(0, 0, 0, 0.336);
      font-size: 35px !important;
      padding: 25px !important;
      color: #fff;
      .proc-name {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .proc-customer {
        flex: 2 !important;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      .info {
        flex: 2;
        display: flex;
        flex-direction: colum;
        justify-content: end;
        text-align: end;
        .labels {
          display: flex;
          flex-direction: column;
          margin-right: 50px;
          font-size: 35px !important;
          align-items: flex-end;
        }
        .amounts {
          display: flex;
          flex-direction: column;
          font-size: 35px !important;
          align-items: flex-end;
        }
      }
    }
    .expanded-area {
      background-color: rgb(233, 227, 227) !important;
      .group-list {
        padding-left: 20px !important;
        .bill-group {
          font-size: 35px !important;
        }
      }
      .table {
        .table-header {
          font-size: 27px !important;
          border-bottom: 1px solid grey;
        }
        .table-content {
          background-color: rgb(233, 227, 227) !important;
          padding: 5px!important;
          .bill {
            margin: 10px !important;
            padding: 15px 10px 10px !important;
            font-size: 30px !important;
            &.selected {
              span {
                svg {
                  font-size: 45px !important;
                }
              }
            }
          }
        }
      }
    }
    &:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: -o-grab;
      cursor: grab;
    }
    &:active {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: -o-grab;
      cursor: grab;
    }
  }
  .checkbox {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    width: 30px !important;
    height: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;

    &.checked {
      background-color: #0588a6;
      border: none;
    }
  }
}
</style>