<template>
  <router-view />
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "App",
  created() {
    this.getScreenType();
    this.connectAppMessage();
  },
  methods: {
    getScreenType() {
      var ratio = screen.width / screen.height;
      this.$store.dispatch("getScreenType", ratio);
    },
    ...mapActions(["connectAppMessage"]),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  background-image: url("../../assets/background.png");
  font-family: "Poppins";
  width: 100%;
  height: 100vh;
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    display: none;
  }
  cursor: none;
}
</style>
