<template>
  <message-wrapper>
    <default-layout
      :key="state.componentKey"
      :headerTitle="this.state.title"
      :showHeader="false"
      :showCancelButton="true"
      :cancelButtonLabel="this.state.cancelLabel"
      :cancelButtonClicked="this.cancel"
      :showPrevButton="!this.state.hideBackButton"
      :prevButtonLabel="this.state.prevLabel"
      :backButtonClicked="this.back"
    >
      <div class="cash-header">
        <div class="client-info-area">
          <span class="client-name">{{ state.customer.displayName }}</span>
          <span
            class="client-no"
            :key="custQuery.queryParamId"
            v-for="custQuery in state.customer.custQueries"
            >{{ custQuery.queryNo }}</span
          >
          <span
            class="client-address"
            :key="'address-' + custQuery.queryParamId"
            v-for="custQuery in state.customer.custQueries"
            >{{ custQuery.displayAddress }}</span
          >
        </div>
        <div class="cash-info-area">
          <div class="labels">
            <span>{{ state.acceptedLabel }}</span>
            <span>{{ state.lblTotalBill }}</span>
          </div>
          <div class="amounts">
            <span class="first" v-bind:class="{'anim': state.showAnim}">{{ this.state.accepted.toFixed(2) }}</span>
            <span>{{ this.state.totalBill.toFixed(2) }}</span>
          </div>
        </div>
      </div>
      <div class="page-accept">
        <div class="content-center">
          <div v-if="!state.flagDetail">
            <span class="cash-message">
              {{ state.infoMessage }}
            </span>
            <div class="image">
              <img src="../../assets/animation/para_yatirma.gif" alt="" srcset="" />
            </div>
          </div>
          <div v-else class="cash-container">
            <div class="cash-table">
              <div class="table-header">
                <div class="header">
                  <span class="label">{{ state.clmValue }}</span>
                  <div class="underline"></div>
                </div>
                <div class="header">
                  <span class="label">{{ state.clmCount }}</span>
                  <div class="underline"></div>
                </div>
                <div class="header">
                  <span class="label">{{ state.clmTotal }}</span>
                  <div class="underline"></div>
                </div>
              </div>
              <div class="table-content">
                <div
                  class="content-box"
                  :key="cm.type"
                  v-for="cm in state.cashModels"
                >
                  <div class="content">{{ cm.type }}</div> <!--  -->
                  <div class="content">{{ cm.count }}</div>
                  <div class="content">{{ cm.total }}</div>
                </div>
              </div>
            </div>
            <div class="cash-request">
              <h2 class="cash-message">
                {{ state.infoMessage }}
              </h2>
            </div>
          </div>
        </div>
        <div class="button-area"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import DefaultLayout from "../../_core/components/DefaultLayout";
import MessageWrapper from "../../_core/components/message-wrapper/view/MessageWrapper.vue";
import { CashAcceptingActionTypes } from "../module/cash-accepting-module";

export default {
  components: {
    DefaultLayout,
    MessageWrapper,
  },
  methods: {
    back() {
      this.$store.dispatch(CashAcceptingActionTypes.BACK);
    },
    cancel() {
      this.$store.dispatch(CashAcceptingActionTypes.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.cashAcceptingModule,
    }),
    getLabelDict(key) {
      return this.state.langDictionary[key];
    },
  },
};
</script>

<style scoped lang="scss">
.cash-header {
  display: flex;
  justify-content: space-between;
  .client-info-area {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    .client-name {
      font-size: 1.3rem;
    }
    .client-no {
      color: rgb(187, 180, 180);
    }
    .client-address {
      color: rgb(187, 180, 180);
    }
  }
  .cash-info-area {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 15px 25px;
    .labels {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      font-size: 1.1rem;
      align-items: flex-end;
    }
    .amounts {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
      align-items: flex-end;
    }
  }
}
.page-accept {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .content-center {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    .cash-message {
      font-size: 20px;
    }
    .image {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 450px;
      }
    }
    .cash-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .cash-table {
        width: 70%;
        .table-header {
          display: flex;
          color: #fff;
          font-weight: bold;
          font-size: 1.3rem;
          margin-bottom: 25px;
          .header {
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .underline {
              width: 70%;
              height: 2px;
              background-color: #fff;
            }
          }
        }
        .table-content {
          .content-box {
            display: flex;
            color: #fff;
            font-size: 1.3rem;
            margin-bottom: 5px;
            .content {
              flex: 1;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .button-area {
    width: 100%;
    height: 100%;
    flex: 1;
  }
}
.cash-message {
  color: #fff;
  text-align: center;
}
@media screen and (min-height: 1200px) {
  .cash-header {
    .client-info-area {
      .client-name {
        font-size: 45px !important;
      }
      .client-no {
        margin-top: 10px!important;
        font-size: 35px !important;
      }
      .client-address {
        margin-top: 10px!important;
        font-size: 30px !important;
      }
    }
    .cash-info-area {
      position: absolute;
      bottom: 0 !important;
      right: 0 !important;
      margin: 100px 35px !important;
      .labels {
        font-size: 42px !important;
        align-items: flex-end;
        font-weight: bold;
      }
      .amounts {
        font-size: 42px!important;
        font-weight: bold;
        align-items: flex-end;
        &.first {
          &.anim {
          color: #E1701A;
        }
        }
      }
    }
  }
  .page-accept {
    .content-center {
      .image {
        margin-top: 100px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 430px !important;
        }
      }
      .cash-message {
        margin: 10px!important;
        font-size: 45px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cash-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .cash-table {
        width: 90%!important;
        .table-header {
          font-size: 35px!important;
          margin-bottom: 25px;
          .header {
            .underline {
              width: 90%!important;
              height: 3px!important;
            }
          }
        }
        .table-content {
          .content-box {
            display: flex;
            color: #fff;
            font-size: 35px!important;
            margin-bottom: 8px!important;
            .content {
              flex: 1;
              text-align: center;
            }
          }
        }
      }
    }
    }
  }
}
.button-area {
  display: none !important;
}
</style>