<template>
  <div class="page">
    <div v-if="showHeader" class="header">
      <div class="logo">
        <img src="../../assets/logo.png" alt="" srcset="" />
      </div>
      <div class="header-title">
        <div class="title">
          <h3>{{ title }}</h3>
        </div>
        <v-spacer></v-spacer>
        <div class="divider"></div>
      </div>
    </div>

    <div class="buttons">
      <div class="button-box" v-if="this.showNext" @click="next()">
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000"> mdi-chevron-right </v-icon>
        </v-btn>
        <div class="text">{{ nextButton }}</div>
      </div>
      <div class="button-box" v-if="this.showCancel" @click="cancel()">
        <v-btn class="mx-2" fab dark color="#ff0000">
          <v-icon dark> mdi-close </v-icon>
        </v-btn>
        <div class="text">{{ cancelButton }}</div>
      </div>
      <div class="button-box" v-if="this.showPrev" @click="prev()">
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000"> mdi-chevron-left </v-icon>
        </v-btn>
        <div class="text">{{ prevButton }}</div>
      </div>
    </div>

    <div class="buttons-large">
      <div class="block">
        <div class="button-box" v-show="this.showCancel" @click="cancel()">
          <v-btn class="mx-2" fab dark color="#ff0000">
            <v-icon dark class="icon"> mdi-close </v-icon>
          </v-btn>
          <div class="text">{{ cancelButton }}</div>
        </div>
        <div class="button-box" v-show="this.showPrev" @click="prev()">
          <v-btn class="mx-2" fab dark color="#fff">
            <v-icon dark color="#000" class="icon"> mdi-chevron-left </v-icon>
          </v-btn>
          <div class="text">{{ prevButton }}</div>
        </div>
      </div>
      <div class="button-box next" v-show="this.showNext" @click="next()">
        <div class="text">{{ nextButton }}</div>
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000" class="icon"> mdi-chevron-right </v-icon>
        </v-btn>
      </div>
    </div>

    <slot></slot>
  </div>
</template>

<script>
import { mdiChevronLeft, mdiChevronRight, mdiClose } from "@mdi/js";
export default {
  props: {
    headerTitle: { type: String },
    showHeader: { type: Boolean, default: true },
    moduleName: { type: String },

    nextButtonLabel: { type: String },
    showNextButton: { type: Boolean, default: false },
    nextButtonClicked: { type: Function },

    cancelButtonClicked: { type: Function },
    cancelButtonLabel: { type: String },
    showCancelButton: { type: Boolean, default: false },

    prevButtonLabel: { type: String },
    backButtonClicked: { type: Function },
    showPrevButton: { type: Boolean, default: false },
  },
  data() {
    return {
      title: "",
      nextButton: "",
      prevButton: "",
      cancelButton: "",
      showNext: false,
      showPrev: false,
      showCancel: false,
      leftPath: mdiChevronLeft,
      rightPath: mdiChevronRight,
      closePath: mdiClose,
      clickable: true,
    };
  },
  mounted() {
    this.title = this.headerTitle;
    this.showNext = this.showNextButton;
    this.showPrev = this.showPrevButton;
    this.showCancel = this.showCancelButton;
  },
  created() {
    this.prevButton = this.prevButtonLabel;
    this.nextButton = this.nextButtonLabel;
    this.cancelButton = this.cancelButtonLabel;
  },
  methods: {
    next() {
      if (this.nextButtonClicked != undefined && this.clickable) {
        this.nextButtonClicked();
        this.clickable = false;
        setTimeout(() => {
          this.clickable = true;
        }, 2000);
      }
    },
    prev() {
      if (this.backButtonClicked != undefined && this.clickable) {
        this.backButtonClicked();
        this.clickable = false;
        setTimeout(() => {
          this.clickable = true;
        }, 2000);
      }
    },
    cancel() {
      if (this.cancelButtonClicked != undefined && this.clickable) {
        this.cancelButtonClicked();
        this.clickable = false;
        setTimeout(() => {
          this.clickable = true;
        }, 2000);
      }
    },
  },
};
</script>

<style lang="scss">
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    .logo {
      margin: 15px 35px 15px 15px;
      width: 5rem;
      height: 5rem;
    }
    .header-title {
      padding: 20px 0;
      flex: auto;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .divider {
        height: 1px !important;
        background-color: #fff;
      }
    }
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 90;
    .button-box {
      margin-bottom: 25px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      .text {
        margin-left: 18px;
        color: #fff;
      }
    }
  }
  .buttons-large {
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 50px;
    z-index: 90;
    .button-box {
      width: 370px;
      height: 70px;
      margin-bottom: 25px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      .icon {
        font-size: 30px;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        color: #fff;
        font-size: 25px;
      }
      &.next {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .buttons-large {
      display: none !important;
    }
    .header {
      .logo {
        width: 75px;
        height: 75px;
      }
    }
  }
}
@media screen and (min-height: 1200px) {
  .buttons {
    display: none !important;
  }
  .buttons-large {
    .button-box {
      width: 500px !important;
      height: 120px !important;
      border-top-left-radius: 70px !important;
      border-bottom-left-radius: 70px !important;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      .text {
        font-size: 50px !important;
        font-weight: bold;
      }
      .icon {
        font-size: 55px !important;
      }
      &.next {
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        border-top-right-radius: 70px !important;
        border-bottom-right-radius: 70px !important;
      }
    }
  }
  .v-btn--fab.v-size--default {
    height: 120px !important;
    width: 120px !important;
  }
  .header {
    margin-top: 25px !important;
    .logo {
      margin: 15px !important;
      width: 8rem !important;
      img {
        width: 120px !important;
      }
    }
    .header-title {
      font-size: 35px !important;
      .divider {
        margin-top: 30px !important;
      }
    }
  }
}
</style>