<template>
  <div>
    <div
      :key="message.msgId"
      v-for="(message, index) in this.state.messages"
      class="popup-container"
      :style="{ 'z-index': (index + 1) * 1000 }"
    >
      <div class="popup" :class="getClassName(message)">
        <message-container
          v-if="message.msgType != 4"
          :message="message.msg"
          :timeout="message.timeout"
          :id="message.msgId"
          :msgCode="message.msgCode"
          :responseMessage="response"
          :actionType="message.msgActType"
        ></message-container>
        <div v-else class="loading">
          <lottie-animation
            path="animations\loading.json"
            :loop="true"
            :autoPlay="true"
            :speed="1"
          />
          <span>{{ message.msg }}</span>
        </div>
      </div>
    </div>

    <slot></slot>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { MessageDisplayModeEnum } from "../../../../enums/message_enum";
import MessageContainer from "./MessageContainer.vue";
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";

export default {
  components: { MessageContainer, LottieAnimation },
  data() {
    return {
      messages: [],
    };
  },
  methods: {
    getClassName(message) {
      switch (message.displayMode) {
        case MessageDisplayModeEnum.LargePopup:
          return " large";
        case MessageDisplayModeEnum.Fullscreen:
          return " fullscreen";
        default:
          return "";
      }
    },
    response(msgId, msgCode, responseState) {
      this.$store.dispatch("messageModule/responseMessage", {
        msgId,
        msgCode,
        responseState,
      });
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.messageModule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500000;
  .popup {
    width: 40%;
    height: 30%;
    position: relative;
    background-color: #fff;
    border-radius: 10px;

    &.large {
      width: 80%;
      height: 60%;
    }

    &.fullscreen {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        height: 25%;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
@media screen and (min-height: 1200px) {
  .popup {
    width: 60% !important;
    height: 25% !important;
    .loading {
      span {
        font-size: 40px!important;
      }
    }
  }
}
</style>